<!DOCTYPE HTML>
<html>
	<head>
		<style>
			#main{
				background-color: transparent;
			}
			#maintexto{
				background-color: #22262E;
				color: white;
				padding-bottom: 30px;
				padding-top: 30px;
				font-family: 'Roboto';
			}
			#maintexto img{
				width: 23%;
			}
			
			.underline{
				text-decoration: underline;
			}
			
			#maintexto a:link 
			{ 
			        color: #1155cc; 
			}
			#maintexto a:visited 
			{ 
			        color: #1155ccc; 
			}
			#maintexto a:active
			{ 
			        color: #FFFFFF; 
			}
			#maintexto a:hover 
			{ 
			        color: #FFFFFF; 
			}
			
		</style>
	</head>
	<body id="main">
		<div id="maintexto">
			<h2 style="text-align:center; color:#fcb00d">Recuperação de usuário!</h2>
			<h3 style="text-align:center">Usuário: <span class="underline">{{username}}</span></h3>
			<h3 style="text-align:center">Senha: <span class="underline">{{senha}}</span></h3>
			
			<p style="text-align:center">Site: <a href="http://obrix.com.br/software">http://obrix.com.br/software</a></p>
			<p style="text-align:center">Atenciosamente, Equipe Obrix.</p>
			<p style="text-align:center"><a href="http://grsystems.com.br/obrix/software"><img src="http://grsystems.com.br/obrix/img/obrix_branco.png"></a></p>
		</div>
	</body>
</html>