<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">

    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    	<!-- Custom fonts for this template -->
    	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<style>
			#main{
				background-color: #F5F5F5;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
			#maintexto{
				background-color: white;
				color: white;
				width: 100vw;
				font-family: 'Roboto', 'Arial', 'Calibri';
				text-align: center;
			}
			.logo{
				width: 150px;
				margin-top: 20px;
			}
			.faixa{
				background-color: rgb(252,176,13);
				height: 50px;
				margin-top: 20px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
			@media (min-width: 500px) {
			  #maintexto{
			  	width: 50%;
			  	min-width: 500px;
			  }
			}
			@media (max-width: 500px) {
			  #maintexto{
			  	width: 100%;
			  	margin-left: 0;
			  }
			}
			.botao{
				background-color: #FF6347;
				padding: 10px;
				border-radius: 5px;
				font-size: 20px;
				text-decoration: none;
				color: white;
				transition: 0.5s;
			}
			.botao:hover{
				background-color: #FF4500;
				text-decoration: none;
				color: white;
			}
			.botao1{
				background-color: #90EE90;
				padding: 10px;
				border-radius: 5px;
				font-size: 20px;
				text-decoration: none;
				color: rgb(34,38,46);
				transition: 0.5s;
			}
			.botao1:hover{
				background-color: #9AFF9A;
				text-decoration: none;
				color: rgb(34,38,46);
			}
			.faixa2{
				background:	url("http://grsystems.com.br/obrix/img/header-bg.jpg");
				background-color: rgb(34,38,46);
				background-repeat: no-repeat;
				background-attachment: scroll;
				background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				height: 400px;
				text-align: center;
				margin: 0;
			}
			.socialmedia{
				width: 22px;
			}
			.beneficios-icones{
				width: 60px;
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body id="main">
		<div id="maintexto">
			<img src="http://grsystems.com.br/obrix/img/obrix_preto.png" class="logo">
			<div class="faixa">
				<p style="color: white; font-size: 20px;text-align:center">Seja bem-vindo, {{username}}!</p>
			</div>
			
			<div class="faixa2">
				<div style="position: relative;">
					<p style="color: white; font-size: 30px; padding-bottom: 10px; text-shadow: 1px 1px 1px rgba(0,0,0,0.3)">Comece a economizar tempo e dinheiro na sua obra!</p>
					<a class="botao" href="http://obrix.com.br/software/">Acesse já!</a>
				</div>
			</div>
			
			<p style="color: rgb(34,38,46); font-size: 20px; margin: 20px;"><b>Sua empresa</b> foi aprovada pela equipe do <b>Obrix</b> para começar a <b>economizar</b> nas compras de materiais de construção.</p>

			<hr />

			<div style="color: black;">
				<span style="font-size: 24px; font-family: 'Montserrat';">
					<b>OS BENEFÍCIOS DE USAR O OBRIX</b>
				</span>  
			</div>
			<br>
			<div style="color: black;">
				<span>
			        <img src="http://obrix.com.br/img/obrix-money.png" class="beneficios-icones">
			    </span>
			    <br>
			    <span style="font-size: 18px; color: black">Encontre o melhor preço</span>
			    <br>
			    <br>
			    <span>
			        <img src="http://obrix.com.br/img/obrix-thumbs-up.png" class="beneficios-icones">
			    </span>
			    <br>
			    <span style="font-size: 18px; color: black">com a qualidade técnica exigida</span>
			    <br>
			    <br>
		        <span>
		        	<img src="http://obrix.com.br/img/obrix-clock.png" class="beneficios-icones">
		        </span>
		        <br>
		        <span style="font-size: 18px; color: black">rapidamente.</span>
			</div>
			<hr />
			<div style="color: black;">
				<span style="font-size: 24px; font-family: 'Montserrat';">
					<b>Login</b>
				</span>  
			</div>
			<div style="color: black; text-align: justify; margin: 25px; text-indent:50px;">
				<span style="font-size: 18px; color: black;">
				<h3 style="text-align:center">Seu Usuário: <span class="underline">{{username}}</span>
				foi aceito para acessar o site da Obrix !</h3>
			</span>
			</div>
			<a class="botao1" href="http://obrix.com.br/software/">acesse já</a>
			<br>
			<hr />
			<div class="row">
	                <a href="https://twitter.com/obrix_tech"><img style="width:30px;height:30px;margin:15px" src="http://obrix.com.br/img/obrix-twitter.png" class="socialmedia"></a>
	                <a href="https://www.facebook.com/obrix.tech/"><img style="width:30px;height:30px;margin:15px" src="http://obrix.com.br/img/obrix-facebook.png" class="socialmedia"></a>
	                <a href="https://www.linkedin.com/company/obrix-tech/"><img style="width:30px;height:30px;margin:15px" src="http://obrix.com.br/img/obrix-linkedin.png" class="socialmedia"></a>
	            </div>
	        <br>
	        <div style="padding-top:20px;padding-bottom: 20px;background-color: #F5F5F5">
	    		<span style="color:black; font-size: 18px;">Atenciosamente,</span>
	    		<br>
	    		<img src="http://grsystems.com.br/obrix/img/obrix_preto.png" class="logo">
	    	</div>
	        <div style="padding-bottom: 20px; background-color: #F5F5F5">
	        	<span style="color:black;">Se você não se cadastrou na plataforma, por favor, envie um email para <a href="mailto:obrix@obrix.com.br">obrix@obrix.com.br</a>.</span>
	    	</div>
		</div>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>